.covid{
    background-color: #ffffff20;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 10px;
    border-top: 1px solid #ffffff60;
    border-left: 1px solid #ffffff60;
    box-shadow: 3px 3px 4px #00000020;
}
.covid thead tr{
    background-color: #ffffff30 !important;
    color: white;
}
.covid thead tr th,.covid tbody tr{
    border: none !important;
    color: white;
}
.newD,.newC,.totalD,.totalC{
    background-color: #ffffff30 !important;
    border-radius: 5px;
}
.search-bar input{
    box-shadow: none !important;
    background-color: #ffffff40;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px #00000020,-1px -1px 3px #ffffff72 !important;

}
.search-bar input:focus{
    box-shadow: none !important;
    background-color: #ffffff40;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px #00000030,-2px -2px 3px #ffffff72 !important;

}
.search-bar input::placeholder{
    color: white;
}